<h1>Welcome to the Classes page</h1>
<m2>Current Classes are</m2>
<ul>
  <li>Web Application Dev</li>
  <li>Financial Accoounting</li>
  <li>MacroEconomics</li>
  <li>Information Technology</li>
  <li>Stats</li>
  <li>Micro Economics</li>

</ul>
